<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
      PACKAGE_USAGE_STATS is a "signature|appop" permission: it can NOT be granted
      through a runtime dialog. The user must enable it in
      Settings > Apps > Special app access > Usage access.
      We check it via AppOpsManager (see data/UsagePermission.kt).
    -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@android:drawable/ic_menu_info_details"
        android:theme="@style/Theme.MemoryMonitor">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
